<form>
  <footer class="sheet-footer flexrow">
    <button type="button" name="submit" class="submit" id="submit">
        <i class="fa fa-check"></i> Randomize!
    </button>
  </footer>
</form>